<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSCore" version="1.2.1.2" manuallyInstalled="true" />
  <package id="NAudio" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.Core" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.Wasapi" version="2.2.1" manuallyInstalled="true" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" manuallyInstalled="true" />
</packages>